html {
    background-color: #d7ccc8;
    
}

.coffee_step1{
    position: absolute;
    top: 35%;
    left: 37%;
    animation: step1 2s linear infinite;
}

@keyframes step1{
    from { 
        transform: translateX(-20%) rotate(0deg); 
    }
    to  {  
        transform: translateX(-20%) rotate(0deg); 
    }
    
    50%{
        transform: translateX(200%) rotate(360deg); 
    }
}

.coffee_step2{
    position: absolute;
    top: 35%;
    left: 37%;
    animation: step2 2s linear infinite;
}

@keyframes step2{
    from { 
        transform: translateX(200%) rotate(0deg); 
    }
    to  {  
        transform: translateX(200%) rotate(0deg); 
    }
    
    50%{
        transform: translateX(-20%) rotate(360deg); 
    }
}

.coffee_step3{
    position: absolute;
    top: 55%;
    left: 37%;
    animation: step3 2s linear infinite;
    
}

@keyframes step3{
    from { 
        transform: translateX(200%) rotate(0deg); 
    }
    to  {  
        transform: translateX(200%) rotate(0deg); 
    }
    
    50%{
        transform: translateX(-20%) rotate(360deg); 
    }
}

.coffee_step4{
    position: absolute;
    top: 55%;
    left: 37%;
    animation: step4 2s linear infinite;
    
}

@keyframes step4{
    from { 
        transform: translateX(-20%) rotate(0deg); 
    }
    to  {  
        transform: translateX(-20%) rotate(0deg); 
    }
    
    50%{
        transform: translateX(200%) rotate(360deg); 
    }
}